<h2 class="title">{{ 'Meeting.title' | translate }}</h2>

<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <mat-label>{{ 'Meeting.fullName' | translate }}:</mat-label>
        <input matInput placeholder="Kirill Pietkov" formControlName="fullName">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'Meeting.meetingDate' | translate }}:</mat-label>

        <input matInput
            [matDatepicker]="picker" 
            [min]="startDate" 
            [max]="maxDate" 
            (focus)="picker.open()" 
            formControlName="meetingDate"
            readonly
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'Meeting.startTime' | translate }}:</mat-label>
        <input type="time" matInput placeholder="05:00" formControlName="startTime">
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'Meeting.endTime' | translate }}:</mat-label>
        <input type="time" matInput placeholder="05:10" formControlName="endTime">
    </mat-form-field>

    <button mat-raised-button color="primary">{{ 'Meeting.submit' | translate }}</button>
</form>