<h2 class="title">
    {{ 'MeetingForm.title' | translate }}
    <p *ngIf="storeError">{{ 'MeetingForm.store' | translate }}</p>
</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <mat-label>{{ 'MeetingForm.fullName' | translate }}</mat-label>

        <input matInput 
            placeholder="Kirill Pietkov" 
            formControlName="fullName"
        />
        
        <mat-error *ngIf="submitted && f.fullName.errors">{{ "MeetingForm.fullName" | translate }} {{ "Error.required" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'MeetingForm.meetingDate' | translate }}</mat-label>

        <input matInput
            [matDatepicker]="picker" 
            [min]="startDate" 
            [max]="maxDate" 
            (focus)="picker.open()" 
            formControlName="meetingDate"
            readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary" [startAt]="startDate"></mat-datepicker>

        <mat-error *ngIf="submitted && f.meetingDate.errors">{{ "MeetingForm.meetingDate" | translate }} {{ "Error.required" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'MeetingForm.startTime' | translate }}</mat-label>
        <input type="time" 
            matInput 
            placeholder="05:00" 
            formControlName="startTime"
        />

        <mat-error *ngIf="submitted && f.startTime.errors">{{ "MeetingForm.startTime" | translate }} {{ "Error.required" | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>{{ 'MeetingForm.endTime' | translate }}</mat-label>
        <input type="time" 
            [ngClass]="{ 'is-invalid': submitted && f.endTime.errors }"
            matInput 
            placeholder="05:10" 
            formControlName="endTime"
        />
        <mat-error *ngIf="submitted && f.endTime.errors">{{ "MeetingForm.endTime" | translate }} {{ "Error.required" | translate }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">{{ 'MeetingForm.submit' | translate }}</button>
</form>