<a [routerLink]="['/']" class="back">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Back to form
</a>

<mat-accordion>
    <mat-expansion-panel *ngFor="let meet of meetingData">
      
        <mat-expansion-panel-header>
            <mat-panel-title>{{ meet.fullName }}</mat-panel-title>
            <mat-panel-description>Meeting</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="panel-info">
            <p>Time Zone: {{ timeZone | translate }} {{ 'Header.utc' | translate }}</p>
            <p>Date: {{ meet.meetingDate }}</p>
            <p>Start Time: {{ meet.startTime }}</p>
            <p>End Time: {{ meet.endTime }}</p>
        </div>

    </mat-expansion-panel>
</mat-accordion>